body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1186px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1186px;
  height:1818px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:1186px;
  height:1818px;
}
#u41 {
  position:absolute;
  left:2px;
  top:901px;
  width:1182px;
  visibility:hidden;
  word-wrap:break-word;
}
